<div class="flex justify-end mt-3">
  <a href="/dealer/inventory">
    <button
      type="button"
      class="ml-3 inline-flex items-center px-4 py-2 border border-black rounded-md shadow-sm text-sm font-medium text-black bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-200"
    >
      Back
    </button>
  </a>
</div>

<h1>Year: {{car.car_year}}</h1>
<h1>Model: {{car.make}}</h1>
<h1>Model: {{car.model}}</h1>
<h1>Car Color: {{car.color}}</h1>
<h1>Interior color: {{car.interior_color}}</h1>
<h1>Trim level: {{car.trim}}</h1>
<h1>List Price: ${{car.price}}</h1>
<h1>Mileage: {{car.mileage}}</h1>
<h1>VIN #: {{car.vin}}</h1>
<h1>Condition of Car: {{car.condition_of_car}}</h1>
<h1>Status:
  {{#if car.sold}}
    Sold
  {{else}}
    Available
  {{/if}}
</h1>
<article class="car-image-holder">
  <img class="car-image" src={{car.image}} alt="Car image" />
</article>