<section>
    {{#each cars as |car|}}
    <section class="car-container">
        <article class="car-title">
            <h1>{{car.car_year}} {{car.make}} {{car.model}} {{car.trim}}</h1>
        </article>
        <article class="car-holder">
            <article class="car-image-holder">
                <a href="/user/inventory/{{car.id}}">
                    <img class="car-image" src={{car.image}} alt="Car image">
                </a>
            </article>
            <article class="car-info-holder">
                <h2>Mileage: {{car.mileage}}</h2>
                <h2>Color: {{car.color}}</h2>
                <h2>Interior: {{car.interior_color}}</h2>
            </article>
            <article class="car-price-holder">
                <h2>Price: {{car.price}}</h2>
            </article>
        </article>
    </section>
    {{/each}}
</section>