<div style="visibility:hidden">
        <section class="header-top">
            <h3>Search</h3>
            <input id="search-input" type="text">
            <button id="search-button"></button>
            <a id="facebook-link" href="https://facebook.com">FaceBook</a>
            <button onclick='window.location.href="http://localhost:3001/user/login"'>Login</button>
            <button onclick='window.location.href="http://localhost:3001/user/signup"'>SignUp</button>
            {{#if logged_in}}
            <h1>Logged In:</h1>
            <h1 id="username">{{user.username}}</h1>
            {{/if}}
        </section>

        <section class="header-bar">
            <Button onclick='window.location.href="http://localhost:3001/user"' class="header-button">Home</Button>
            <Button onclick='window.location.href="http://localhost:3001/user/inventory"' class="header-button">View Used Cars</Button>
            <Button onclick='window.location.href="http://localhost:3001/user/about"' id="aboutus-select">About Us</Button>
            <button onclick='window.location.href="http://localhost:3001/user/review"' id="review-select">Reviews</button>
        </section>
</div>
<section class="review-holder">
    <article class="review-layout-holder">
        {{#each reviews as |review|}}
        <article class="read-review">
            <h2>{{review.owner_name}}</h2>
            <h3>Rating: {{review.rating}}/5</h3>
            <p>{{review.content}}</p>
        </article>
        {{/each}}
    </article>
    {{#if logged_in}}
    <article class="submit-review">
        <h1>Leave Us A Review</h1>
        Content: <input id="content" type="text" >
        Rating: <input id="rating" type="text" > /5
        <button onclick=submitReview()>Submit</button>
    </article>
    {{else}}
    <article class="submit-review">
        <h1>Log In To Leave Us A Review</h1>
    </article>
    {{/if}}
</section>
<script>
    const submitReview = async () => {
        const rating = document.getElementById("rating")
        const content = document.getElementById("content")
        const user_name = document.getElementById("username")

        if(rating.value && content.value){
            newReview = {
                rating: rating.value,
                content: content.value,
                owner_name: user_name.innerHTML,
            }
            console.log(newReview);

            const response = await fetch("/userapi/review",{
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(newReview),
            });
            
            if(response.ok){
                console.log("Submitting Review")
                rating.value = '';
                content.value = '';
            }else{
                alert('Failed to submit review.');
                content.log(response);
            }
        }
    }
</script>